* {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}
.top_bar{
    display: flex;
    justify-content: space-between;
}
.nav_menu{
    display: flex;
    justify-content: space-between;
    column-gap: 56px;
    padding-top: 28px;
}
.top_bar__image{
    padding-top: 16px;
    padding-left: 32px;
}
.nav_button{
    display: flex;
    justify-content: space-between;
    column-gap: 24px;
    padding-top: 15px ;
    padding-bottom: 15px;
    padding-right: 32px;
}
.nav_menu__item{
    font-size: 16px;
    line-height: 24px;
    color:#0B2330;
    cursor: pointer;
}
.start{
    background:#0B2330;
    border: 1px solid #0B2330;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 16px;
    line-height: 24px;
    color: white;
    padding: 14px 29px;
    cursor: pointer;
}
.sign,
.talk{
    background: white;
    border: 1px solid #0B2330;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 16px;
    line-height: 24px;
    color: #0B2330;
    padding: 14px 29px;
    cursor: pointer;
}

.talk:hover{
    background: #0B2330;
    color: white;
}
.sign:hover{
    background: #0B2330;
    color: white;
}

.context_represent{
    display: flex;
    justify-content: space-between;

}
.context_represent__image{
    position: relative;
}
.background_image{
    position:absolute;
}
.relative_image{
position: relative;
    z-index: 5;
    top: 139px;
    right: 110px;
}
.context_represent__content{
    margin-top: 154px;
    margin-left: 147px;
    max-width: 436px;
}
.content_tittle{
    font-weight: normal;
    font-size: 60px;
    line-height: 64px;
    letter-spacing: 0.6px;
    color: #0B2330;
}
.content_text{
    padding-top: 32px;
    font-weight: normal;
    font-size: 22px;
    line-height: 32px;
    color: #375361;
}
.content_btn__start{
    margin-top: 38px;
    background: #F9C600;
    border: 1px solid #F9C600;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 16px;
    line-height: 24px;
    color: #0B2330;
    padding: 15px 29px;
    cursor: pointer;
}
.content_btn__talk{
    border: 1px solid #0B2330;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    padding: 15px 29px;
    cursor: pointer;
    margin-left: 15px;
}