* {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}
.top_bar{
    display: flex;
    justify-content: space-between;
}
.nav_menu{
    display: flex;
    justify-content: space-between;
    column-gap: 56px;
    padding-top: 28px;
}
.top_bar__image{
    padding-top: 16px;
    padding-left: 32px;
}
.nav_button{
    display: flex;
    justify-content: space-between;
    column-gap: 24px;
    padding-top: 15px ;
    padding-bottom: 15px;
    padding-right: 32px;
}
.nav_menu__item{
    font-size: 16px;
    line-height: 24px;
    color:#0B2330;
    cursor: pointer;
}
.start{
    background:#0B2330;
    border: 1px solid #0B2330;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 16px;
    line-height: 24px;
    color: white;
    padding: 14px 29px;
    cursor: pointer;
}
.sign,
.talk{
    background: white;
    border: 1px solid #0B2330;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 16px;
    line-height: 24px;
    color: #0B2330;
    padding: 14px 29px;
    cursor: pointer;
}
.talk:hover{
    background: #0B2330;
    color: white;
}
.sign:hover{
    background: #0B2330;
    color: white;
}
.context_represent{
    display: flex;
    justify-content: space-between;

}
.context_represent__image{
    position: relative;
}
.background_image{
    position:absolute;
}
.relative_image{
position: relative;
    z-index: 5;
    top: 139px;
    right: 110px;
}
.context_represent__content{
    margin-top: 154px;
    margin-left: 147px;
    max-width: 436px;
}
.content_tittle{
    font-weight: normal;
    font-size: 60px;
    line-height: 64px;
    letter-spacing: 0.6px;
    color: #0B2330;
}
.content_text{
    padding-top: 32px;
    font-weight: normal;
    font-size: 22px;
    line-height: 32px;
    color: #375361;
}
.content_btn__start{
    margin-top: 38px;
    background: #F9C600;
    border: 1px solid #F9C600;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 16px;
    line-height: 24px;
    color: #0B2330;
    padding: 15px 29px;
    cursor: pointer;
}
.content_btn__talk{
    border: 1px solid #0B2330;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    padding: 15px 29px;
    cursor: pointer;
    margin-left: 15px;
}
.companies_container{
   margin-top: 460px;
    text-align: center;

}
.companies_tittle{
    margin: 0 auto;
    width: 547px;
    font-size: 42px;
    line-height: 48px;
    letter-spacing: 0.42px;
    color: #0B2330;
}
.companies_logos{
   margin-top: 60px;
}
.rectangle_container{
    display: flex;
    justify-content: space-between;
    background-color: #51CEBC;
    margin-top: 192px;
    height: 494px;
    margin-left: 36px;
    margin-right: 36px;
   border-radius: 30px;
}
.rectangle_image{
    padding-top: 56px;
}
.rectangle_tittle{
    max-width: 757px;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.34px;
    color: #0B2330;
    padding-top: 114px;
    padding-right: 121px;
}
.rectangle_text{
    font-size: 22px;
    line-height: 32px;
    color: #0B2330;
    padding-top: 35px;
    padding-right: 121px;
    max-width: 557px;
}
.spring_container{
    margin-top: 151px;
    text-align: center;
}
.spring_container__tittle{
    font-size: 34px;
    line-height: 40px;
    margin: 0 auto;
    letter-spacing: 0.34px;
    color: #0B2330;
    max-width: 711px;
}
.spring_container__image{
    margin-top: 57px;
}
.spring_container__btn{
    background: #F9C600;
    border: 1px solid #F9C600;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 16px;
    line-height: 24px;
    color: #0B2330;
    padding: 15px 29px;
    cursor: pointer;
    margin-top: 127px;
}