*{
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}
.project_wrapper{
    max-width: 1440px;
    margin: 0 auto;
    background-color: white;
}
.top_bar{
    display: flex;
    justify-content: space-between;
}
.top_bar__image{
    margin-top: 16px;
    margin-left: 32px;
}
.nav_menu{
    display: flex;
    margin-top: 28px;
    column-gap: 48px;
}
a{
    text-decoration: none;
}
.nav_menu__item a {
    font-size: 16px;
    line-height: 24px;
    color: #0B2330;
}
.nav_button{
    margin-top: 15px;
    display: flex;
    column-gap: 24px;
    margin-right: 32px;
}
.sign,
.talk {
    font-size: 16px;
    line-height: 24px;
    color: #0B2330;
    border: none;
    background-color: white;
    cursor: pointer;
    padding: 15px 29px;
}
.sign:hover{
    background: #0B2330;
    color: white;
    border-radius: 4px;
}
.talk:hover{
    background: #0B2330;
    color: white;
    border-radius: 4px;
}
.start{
    background: #0B2330;
    border: 1px solid #0B2330;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    padding: 15px 29px;
    cursor: pointer;
}
.context_container{
    margin-top: 16px;
}
.context_represent{
    margin-left: 147px;
    display: flex;
    justify-content: space-between;
}
.context_represent__image{
    position: relative;
}
.background_image{
    position:absolute;
    margin-left: 8px;
}

.relative_image{
    position: relative;
    z-index: 5;
    top: 172px;
    right: 118px;
}
.context_represent__content{
    margin-top: 154px;
    max-width: 436px;
}
.content_tittle{
    font-size: 60px;
    line-height: 64px;
    letter-spacing: 0.6px;
    color: #0B2330;
}
.content_text{
    font-size: 22px;
    line-height: 32px;
    color: #375361;
    margin-top: 32px;
}
.content_btn__start {
    margin-top: 38px;
    background: #F9C600;
    border: 1px solid #F9C600;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 16px;
    line-height: 24px;
    color: #0B2330;
    padding: 15px 29px;
    cursor: pointer;
}
.content_btn__talk{
    border: 1px solid #0B2330;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    padding: 15px 29px;
    cursor: pointer;
    margin-left: 15px;
}
.companies_container{
    margin-top: 460px;
    text-align: center;
}
.companies_tittle{
    margin: 0 auto;
    width: 547px;
    font-size: 42px;
    line-height: 48px;
    letter-spacing: 0.42px;
    color: #0B2330;
}
.companies_logo{
    margin-top: 59px;
}
.rectangle_container{
    display: flex;
    justify-content: space-between;
    background-color: #51CEBC;
    margin-top: 192px;
    height: 494px;
    margin-left: 32px;
    margin-right: 32px;
    border-radius: 30px;
}
.rectangle_image{
    padding-top: 56px;
}
.rectangle_tittle{
    max-width: 757px;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.34px;
    color: #0B2330;
    padding-top: 114px;
    padding-right: 121px;
}
.rectangle_text{
    font-size: 22px;
    line-height: 32px;
    color: #0B2330;
    padding-top: 35px;
    padding-right: 121px;
    max-width: 557px;
}
.spring_container{
    margin-top: 191px;
    text-align: center;
}
.spring_container__tittle{
    font-size: 34px;
    line-height: 40px;
    margin: 0 auto;
    letter-spacing: 0.34px;
    color: #0B2330;
    max-width: 711px;
}
.spring_container__image{
    margin-top: 57px;
}
.spring_container__btn{
    background: #F9C600;
    border: 1px solid #F9C600;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 16px;
    line-height: 24px;
    color: #0B2330;
    padding: 15px 29px;
    cursor: pointer;
    margin-top: 113px;
}
.target_container{
    display: flex;
    justify-content: space-between;
    background-color: #BD78F0;
    height: 537px;
    max-width: 1260px;
    margin: 0 auto ;
    margin-top: 160px;
    margin-left: 148px;
}
.target_img{
    position: relative;
    right: 110px;
    top: 64px;
}
.target_content__tittle{
    font-size: 42px;
    line-height: 48px;
    letter-spacing: 0.42px;
    color: #0B2330;
    max-width: 485px;
    padding-top: 103px;
    padding-right: 150px;
}
.target_content__text{
    font-size: 17px;
    line-height: 28px;
    color: #0B2330;
    padding-top: 39px;
    max-width: 552px;
}
.spring_solution__container{
    margin-top: 136px;
    margin-left: 148px;
}
.spring_solution__text{
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    color: #6A7981;
    padding-top: 26px;
}
.spring_solution__tittle{
    padding-top: 16px;
    max-width: 593px;
    font-size: 42px;
    line-height: 48px;
    letter-spacing: 0.42px;
    color: #0B2330;
}
.solution_block{
    margin-top: 219px;
}
.solution_block__item{
    display: flex;
    column-gap: 263px;
    margin-top: 121px;
}
.block_item__content{
    max-width: 484px;
}
.block_item__tittle{
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.34px;
    color: #0B2330;
    padding-top: 23px;
}
.block_item__text{
    font-size: 17px;
    line-height: 28px;
    color: #375361;
    padding-top: 29px;
}
.block_item__btn{
    border: 1px solid #0B2330;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    padding: 14px 29px;
    margin-top: 64px;
    cursor: pointer;
}
.block_item__btn:hover{
    background-color: #0B2330;
    color: white;
}
.block_btn{
    display: flex;
    column-gap: 8px;
}
.btn_text{
    background: #E7EAEB;
    border-radius: 4px;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    color: #61757E;
    padding:4px 8px;
    cursor: pointer;
}
.btn_text__active{
    background: #FE9F28;
    border-radius: 4px;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    color: #0B2330;
    padding: 4px 8px;
    cursor: pointer;
}
.btn_text:hover{
    background: #FE9F28;
    color: #0B2330;
}
.features_container{
    background: #F2EDE7;
    border-radius: 0px;
    height: 960px;
    margin-top: 152px;
}
.features_container__content{
    margin-top: 96px;
    margin-left: 122px;
}
.content_header__tittle{
    font-size: 60px;
    line-height: 64px;
    letter-spacing: 0.6px;
    color: #0B2330;
    max-width: 1064px;
    padding-top: 10px;
}
.features_content__box{
    margin-top: 122px;
    display: flex;
    column-gap: 141px;

}
.integration_container__content{
    margin-top: 184px;
    margin-left: 148px;
    display: flex;
    justify-content: space-between;
}
.integration_content__main{
    width: 669px;
}
.integration_content__tittle{
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.34px;
    color: #0B2330;
    margin-top: 15px;
}
.integration_content__text{
    font-size: 17px;
    line-height: 28px;
    color: #375361;
    margin-top: 37px;
}
.integration_content__button{
    background: #F9C600;
    border: 1px solid #F9C600;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 16px;
    line-height: 24px;
    color: #0B2330;
    padding: 15px 29px;
    margin-top: 50px;
    cursor: pointer;
}
.integration_content__image{
    align-items: center;
}
.case_container{
    margin-top: 240px;
    max-width: 1376px ;
    height: 584px;
    display: flex;
    margin-left: 32px;
    margin-right: 32px;
}
.case_box1__wrapper{
    background: #F2EDE7;
    border-radius: 10px 0px 0px 10px;
    max-width: 325px;
    padding-top: 80px;
    padding-left: 116px;
    padding-right: 121px;
}
.box1_tittle{
    font-size: 24px;
    line-height: 32px;
    color: #0B2330;
    padding-top: 17px;
}
.box1_text{
    font-size: 17px;
    line-height: 28px;
    color: #0B2330;
    padding-top: 27px;
}
.box1_btn{
    border: 1px solid #0B2330;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    padding: 15px 29px;
    margin-top: 50px;
    background: #F2EDE7;
   cursor: pointer;
}
.box1_btn:hover{
    background-color: #0B2330;
    color: white;
    border: 1px solid #0B2330;
}
.case_box2__wrapper{
    background: #F9C600;
    border-radius: 0px 10px 10px 0px;
    max-width: 557px;
    padding-top: 79px;
    padding-left: 116px;
    padding-right: 121px;
}
.box2_text{
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.34px;
    color: #000000;
}
.man_box{
    margin-top: 81px;
    display: flex;
}
.man_discription{
    padding-left: 24px;
    padding-top: 13px;
    align-items: center;
}
.name{
    font-size: 16px;
    line-height: 24px;
    color: #0B2330;
}
.job{
    font-size: 17px;
    line-height: 28px;
    color: #2F3F48;
}
.launch_container{
    background: #0B2330;
    border-radius: 0px;
    margin-top: 46px;
    height: 423px;
}
.launch_container__content{
    max-width: 642px;
    padding-top: 53px;
    padding-left: 415px;
    padding-right: 416px;
    text-align: center;
}
.launch_content__tittle{
    font-weight: normal;
    font-size: 42px;
    line-height: 48px;
    text-align: center;
    letter-spacing: 0.42px;
    color: #FFFFFF;
}
.launch_content__text{
    font-weight: normal;
    font-size: 17px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    padding-top: 31px;
}
.launch_content__btn{
    background: #F9C600;
    border: 1px solid #F9C600;
    box-sizing: border-box;
    border-radius: 4px;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #0B2330;
    padding: 15px 29px;
    margin-top: 50px;
    cursor: pointer;
}
.border{
    border-bottom: 1px solid #375361;
    margin-top: 65px;
    margin-left: 32px;
    width: 1376px;
}
.footer{
    background-color: #0B2330;
    height: 678px;
}
.footer_container{
    padding-top: 80px;
    max-width: 817px;
    padding-left: 32px;
    display: flex;
}
.colum_box{
    margin-left: 110px;
    display: flex;
    column-gap: 110px;
}
.column_item__active a{
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #F9C600;
}
.column_item a {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #94A0A4;
}
.column_item a:hover{
    color: white;
}
.footer_box{
    padding-top: 69px;
    padding-left: 268px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer_text{
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #94A0A4;
}
.footer_icons{
    display: flex;
    margin-right: 150px;
    column-gap: 24px;
    cursor: pointer;
}