* {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}
:root{
    --black-color:#000;
}
.wrapper{
    max-width: 1150px;
    margin: 0 auto;
}
.top_bar{
    height: 80px;
    display: flex;
    justify-content: space-between;
}
.header{
    border-bottom: 1px solid #EAEEF2;

}
.header_logo,
.nav_menu{
    display: flex;
    align-items: center;
}
.nav_menu{
    column-gap: 22px;
}
.header_grid{
    position: relative;
}
.nav_button{
    margin-left: 5px;
    display: flex;
    column-gap: 18px;
}
.nav_menu__item a{
    font-size: 15px;
    line-height: 16px;
    color: var(--black-color);
    text-decoration: none;
}
.nav_btn{
    height: 52px;
    box-sizing: border-box;
    border-radius: 100px;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    padding: 0 25px;
    cursor: pointer;

}
.nav_btn__login{
    border: 1px solid #000000;
    background: none;
    color: var(--black-color);
}
.nav_btn__expert{
    background: var(--black-color);
    border: 1px solid #000000;
    color: white;

}
.header_content{
    width: 500px;
    min-width: 500px;
}
.header_wrap__content{
    padding: 100px 0 10px;
    display: flex;
    justify-content: space-between;
    column-gap: 63px;
}
.header_content_title{
    font-weight: bold;
    font-size: 77px;
    line-height: 83px;
    color: var(--black-color);
    margin-bottom: 27px;
}
.header_content_text{
    font-size: 20px;
    line-height: 31px;
    color: var(--black-color);
}
.header_content h4{
    margin-top: 80px;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
}
.btn_bottom{
    position: absolute;
    background: #000000;
    border-radius: 100px;
    height: 60px;
    font-weight: bold;
    font-size: 22px;
    line-height: 25px;
    color: #FFFFFF;
    padding: 0 30px;
    bottom: -30px;
    border: none;
    cursor: pointer;
}
.finance {
    margin-top: 159px;
    display: flex;
    justify-content: space-between;
    column-gap: 104px;
}
.finance_content__title{
    font-weight: bold;
    font-size: 57px;
    line-height: 58px;
}
.finance_content__text{
    font-weight: normal;
    font-size: 20px;
    line-height: 31px;
    padding-top: 33px;
}
.finance_img{
    padding-top: 43px;
}
.switch_container{
    margin-top: 45px;
}
.switch_container__tittle{
    font-weight: bold;
    font-size: 58px;
    line-height: 58px;
    padding-top: 88px;
}

.container_wrapper{
    display: flex;
    justify-content: space-between;
    column-gap: 70px;
    margin-top: 82px;
}
.card_tittle{
    margin-top: 24px;
    font-weight: bold;
    font-size: 28px;
    line-height: 36px;
}
.card_text{
    margin-top: 10px;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
}
.switch_container__button{
    margin-top: 71px;
    background: #F7B2B7;
    border-radius: 100px;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    padding: 12px 30px;
    border: none;
}


