
.a{
    background-color: blueviolet;
    height: 250px;
    text-align: center;
    box-sizing: border-box;
    padding-top: 100px;
    font-size: 50px;
}

.wrap{
    display: flex;
    margin-top:5px;

}

.b{
    background-color: chocolate;
    height: 250px;
    text-align: center;
    width: 75%;
    box-sizing: border-box;
    padding-top: 100px;
    font-size: 50px;
}
.c{
    background-color: cadetblue;
    height: 250px;
    text-align: center;
    width: 50%;
    box-sizing: border-box;
    padding-top: 100px;
    font-size: 50px;
    margin-left: 5px;
}